:root {
  --primary-color: #2e7bcf;
  --secondary-color: #151515;
  --text-color: #373737;
  --background-color: #f2f2f2;
  --header-bg: linear-gradient(#373737, #2d2d2d);
  --font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}
